*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.bsp/
/target/
/project/project/
/project/target/
/.idea/
/scala-2.12/target/
/scala-2.13/target/
/scala-31/target/
/scala-30/target/
